/* Common Css ==================== */

body {
  background-color: #f8f8f8;
}
.section {
  padding-top: 4%;
  padding-bottom: 4%;
}

.section-subtitle {
  color: #0779e4;
  text-transform: uppercase;
  text-align: center;
  font-size: 13px;
}

.section-title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 50px;
}

p {
  color: #999;
}

/* Header ==================== */

.header {
  background-color: #0779e4;
  color: whitesmoke;
  /* galimas variantas, bet palaikomas tik naujausiose narsykliu versijose */
  /* position: sticky; */
  position: fixed;
  width: 100%;
  z-index: 5;
}

.header-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: inline-block;
  font-size: 30px;
}

.nav-link {
  display: inline-block;
  padding: 1em 1.2em;
}

.nav-link:hover {
  background-color: #3997ee;
}

/* Services section ============== */

.services-section {
  padding-top: calc(4% + 49px);
}

.services-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  padding-bottom: 4%;
}
.services-cards i {
  padding: 10px;
  margin-bottom: 15px;
  background-color: #0779e4;
  color: #ffffff;
  font-size: 2.5rem;
}
.services-cards .card {
  background-color: #fff;
  flex-basis: 32%;
  padding: 1.5em;
}

.card-title,
.card-link {
  color: #0779e4;
}

.services-footer {
  margin: 0 auto;
  width: 66%;
}

.services-footer1 {
  color: rgb(153, 153, 153);
  font-weight: bold;
}

.services-footer1 a {
  color: #0779e4;
}

/* Numbers section ============== */

.numbers {
  /* background-color: #0779e4; */
  background-image: linear-gradient(to bottom, #0779e4cc, #0779e4cc), url(./bg.webp);
  background-size: cover;
}

.numbers i {
  color: white;
  font-size: 70px;
  padding-right: 10px;
}

.numbers-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.numbers-card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  flex-basis: 20%;
  padding: 8% 0;
}

.numbers-text p {
  color: white;
}
.numbers-text p:last-child {
  font-size: 0.9em;
  text-transform: uppercase;
}

.number {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 5px;
}

/*  portfolio section "My Latest Work" */

.img {
  flex-basis: 49%;
}

.portfolio img {
  width: 100%;
  height: 100%;
}

.portfolio {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

/* students cards sekcija */

.user-cards {
  display: flex;
}

.u-card {
  flex-basis: 33%;
  padding: 20px;
  background-color: #fff;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  align-items: center;
}

.u-img {
  width: 80px;
  height: 80px;
  flex-basis: 30%;
  position: relative;
}

.u-title {
  flex-basis: 65%;
  flex-grow: 1;
}

.u-title > * {
  margin-bottom: 0;
}

.u-title p {
  color: #0779e4;
  font-size: 13px;
}

.round {
  border-radius: 50%;
}

.u-quote {
  padding: 8px;
  background-color: #0779e4;
  border-radius: 50%;
  color: white;
  position: absolute;
  bottom: 0;
  right: 0;
}

/* Our blog section ============== */

.blog-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  /* justify-content: flex-end; */
}

.blog-card {
  background-color: #fff;
  flex-basis: 30%;
  flex-grow: 1;
  padding: 20px;
}

.half {
  flex-basis: 45%;
}

.full {
  flex-basis: 99%;
}

.grow2 {
  flex-basis: 67%;
}

.same {
  /* width: 33%; */
  flex-grow: 0;
}
