/* Header ==================== */

.header {
  background-color: #0779e4;
  color: whitesmoke;
}

.header-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: inline-block;
  font-size: 30px;
}

.nav-link {
  display: inline-block;
  padding: 1em 1.2em;
}

.nav-link:hover {
  background-color: #3997ee;
}
